/* Add css class names below and they will show in all "Style" drop-downs */
.green-right-big-font {
background: #F1F5E7;float:right;font-style: italic;font-weight:bold;font-size:1.8em;clear:both;padding:15px;color:#15481F;margin: 5px 0px 10px 10px;width: 300px;
     -moz-box-shadow: 0px 0px 4px #666; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #666; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #666; /* Opera 10.5, IE9, Chrome 10+ */
}
.green-left-small-font{
background: #F1F5E7;float:left;font-style: italic;font-weight:bold;font-size:1.3em;clear:both;padding:15px;color:#15481F;margin: 5px 10px 10px 0px;width: 300px;
     -moz-box-shadow: 0px 0px 4px #666; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #666; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #666; /* Opera 10.5, IE9, Chrome 10+ */
}
.full-green{
background: #F1F5E7;font-style: italic;font-weight:bold;font-size:1.3em;clear:both;padding:15px;color:#15481F;}
.orange-right{
background: #FFEDD9;float:right;font-style: italic;font-weight:bold;font-size:1.3em;clear:both;padding:15px;color:#FF7E00;margin: 5px 0px 10px 10px;width: 300px;
     -moz-box-shadow: 0px 0px 4px #666; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #666; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #666; /* Opera 10.5, IE9, Chrome 10+ */
}
.red-left{
background: #F7EFEC;float:left;font-style: italic;font-weight:bold;font-size:1.3em;clear:both;padding:15px;color:#8F3700;margin: 5px 10px 10px 0px;width: 300px;
     -moz-box-shadow: 0px 0px 4px #666; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #666; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #666; /* Opera 10.5, IE9, Chrome 10+ */
}

#tinymce body, body.mceContentBody{font:13px/1.5em 'Arial', sans-serif;color:#134A1E;}

#tinymce body img {
  border:0px;
}

#tinymce h1, #tinymce h2, #tinymce h3{
line-height: ;
margin: 10px 0 20px 0;
color:#134A1E;
}

#tinymce h1, #tinymce h1 a{
color:#134A1E;
}


p, li, td{
line-height: 1.5em;
color: #134A1E;
font:13px/1.5em 'Arial', sans-serif;
}

a {
color:#4C661F;text-decoration: none;
}

a:hover {
color: ;
text-decoration: none;
}

a img{
border:none;
text-decoration: none;
margin:0;padding:0;
}

.learn-more th{
font-size: 20px;
border-bottom: 1px solid #134A1E;
text-align: left;
margin-bottom: 5px;
}

.learn-more td{width: 120px;}

.learn-more td, .learn-more td a{
font-weight: bold;
font-size: 16px;
}

.learn-more td img{width:100px;background: #fff !important;}